@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

}

<div id="about" class="about">
    <div class="c__section is--full-width is--white">
        <div class="c__container">
            <div class="c__content">
                <div class="main--section is--about">
                    <div class="aboutus-title">
                        <h1 class="h-60">about us</h1>
                    </div>
                    <div class="slide__content-bottom"><img src="~/FrontEndAssets/images/Group-9744.svg" loading="lazy" width="26" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section is--signature">
        <div class="c__container">
            <div class="c__content">
                <h1 class="h-24">Signed By Tile’O</h1>
                <h1 class="h-40">Your Aesthetic Point of View</h1>
                <p class="p-28 _w-65">Tile’O is your next favorite destination to select high-quality and perfectly designed tiles that add life to your space. Easy to find across Dubai’s most vibrant roads, Tile’O Showroom offers you a tour-to-remember among its latest designs from worldwide manufacturers.<br>‍<br>Covering every indoor and outdoor space, Tile’O delivers tile innovation across a full range of designs for floors, walls, countertops, sanitary ware, terraces and many others. Be it for your residential, corporate or commercial property, you can trust Tile’O with the highest end of functionality and durability to sign your aesthetic point of view.<br>‍<br>Our tile specialists can’t wait to show you live our exclusive collection of vintage, classic, modern, mosaic and every other style within your unique standards of tile.</p>
            </div>
        </div>
    </div>
    <div class="c__section">
        <div class="c__container">
            <div class="c__content">
                <div class="about__section">
                    <div class="left"><img src="~/FrontEndAssets/images/1N1A4143.png" loading="lazy" sizes="(max-width: 479px) 38vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="~/FrontEndAssets/images/1N1A4143-p-500.png 500w, /FrontEndAssets/images/1N1A4143-p-800.png 800w, /FrontEndAssets/images/1N1A4143.png 805w" alt="" class="image-6"></div>
                    <div class="about-content">
                        <div class="v"></div>
                        <div class="right">
                            <h1 class="h-40 is--right">SHOWROOM EXPERIENCE</h1>
                            <h1 class="p-28 is--heading align-left">Gallery</h1>
                            <div class="p-28 is--about">Our inviting atmosphere is featured by creative lighting accents and engaging displays so that customers enjoy an efficient use of space and maximum comfort when it comes to choosing among our statement-setting tiles. From neutral to bold colors, we use free-standing presentations and other attractive solutions to guide your choice towards the right tile effect…</div>
                            <div class="read-more">
                                <a href="#" class="button is--big w-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section">
        <div class="c__container">
            <div class="c__content">
                <div class="about__section is--reverse">
                    <div class="v"></div>
                    <div class="left"><img src="~/FrontEndAssets/images/WhatsApp-Image-2021-09-25-at-10.18.09-AM.png" loading="lazy" sizes="(max-width: 479px) 38vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="~/FrontEndAssets/images/WhatsApp-Image-2021-09-25-at-10.18.09-AM-p-500.png 500w, /FrontEndAssets/images/WhatsApp-Image-2021-09-25-at-10.18.09-AM-p-800.png 800w, /FrontEndAssets/images/WhatsApp-Image-2021-09-25-at-10.18.09-AM.png 805w" alt="" class="image-6"></div>
                    <div class="about-content is--reversed">
                        <div class="v is--last"></div>
                        <div class="right">
                            <h1 class="h-40 is--right">CUSTOM-MADE DESIGNS</h1>
                            <h1 class="p-28 is--heading align-left">Big Slab Dimensions</h1>
                            <div class="p-28 is--about">Our displayed slabs feature one of the biggest dimensions in the market, reflecting modern seamless designs and controlling the sense of space exactly as needed.</div>
                            <h1 class="p-28 is--heading align-left">Exclusive Pairs of 6 mm &amp; 12 mm Thick Tiles</h1>
                            <div class="p-28 is--about">Because we seek the most elegant designs for your…</div>
                            <div class="read-more">
                                <a href="#" class="button is--big w-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section">
        <div class="c__container">
            <div class="c__content">
                <div class="about__section">
                    <div class="left"><img src="~/FrontEndAssets/images/1N1A4178.png" loading="lazy" sizes="(max-width: 479px) 38vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 46vw" srcset="~/FrontEndAssets/images/1N1A4178-p-500.png 500w, /FrontEndAssets/images/1N1A4178-p-800.png 800w, /FrontEndAssets/images/1N1A4178.png 805w" alt="" class="image-6"></div>
                    <div class="about-content">
                        <div class="v"></div>
                        <div class="right">
                            <h1 class="h-40 is--right">SUSTAINABLE GREEN<br>SOLUTIONS</h1>
                            <h1 class="p-28 is--heading align-left">Gallery</h1>
                            <div class="p-28 is--about">Cherishing The Spaces You Live In, We Start Above All With Preserving Our Natural Environment In Every Step Of Our Design Processing. Our Trusted Partners Apply Sustainable And Eco-Friendly Policies To Their Own Processing By Using Recyclable Material And Renewable Energy. As A Result, Our Final Product Is A Naturally…</div>
                            <div class="read-more">
                                <a href="#" class="button is--big w-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section is--full-width">
        <div class="c__container">
            <div class="c__content">
                <div class="top">
                    <h3 class="h-24">Our Brands</h3>
                    <h1 class="h-40 white">Partners We Trust</h1>
                </div>
                <div class="bottom is--black">
                    <div data-animation="slide" data-duration="500" class="slider w-slider">
                        <div class="mask w-slider-mask">
                            <div class="slide w-slide">
                                <div class="div-block-8">
                                    <div class="div-block-7"><img src="~/FrontEndAssets/images/Group-9750.svg" loading="lazy" width="126" alt="" class="image-3"><img src="~/FrontEndAssets/images/Group-9769.svg" loading="lazy" width="115" alt="" class="image-3 is-small"><img src="~/FrontEndAssets/images/Group-9757.svg" loading="lazy" width="167" alt="" class="image-3"><img src="~/FrontEndAssets/images/Group-9759.svg" loading="lazy" width="167" alt="" class="image-3"><img src="~/FrontEndAssets/images/full_white.svg" loading="lazy" width="167" alt="" class="image-3"><img src="~/FrontEndAssets/images/Path-11119.svg" loading="lazy" width="167" alt="" class="image-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="w-slider-arrow-left">
                            <div class="w-icon-slider-left"></div>
                        </div>
                        <div class="w-slider-arrow-right">
                            <div class="w-icon-slider-right"></div>
                        </div>
                        <div class="slide-nav w-slider-nav w-round"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section c__margin">
        <div class="c__container">
            <div class="c__content is--about">
                <h1 class="h-24">Subtitle here</h1>
                <h1 class="h-40">Gallery and portfolio</h1>
                <div class="filter-all"><img src="~/FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x.png" loading="lazy" width="347" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, 30vw" srcset="~/FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x-p-500.png 500w, /FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x-p-800.png 800w, /FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x.png 1054w" alt="" class="gallery-image"><img src="~/FrontEndAssets/images/pexels-max-vakhtbovych-6297086.png" loading="lazy" width="347" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, 30vw" srcset="~/FrontEndAssets/images/pexels-max-vakhtbovych-6297086-p-500.png 500w, /FrontEndAssets/images/pexels-max-vakhtbovych-6297086.png 527w" alt="" class="gallery-image"><img src="~/FrontEndAssets/images/9202_amb16_1704_Sense_halifax-natural-blanco.svg" loading="lazy" width="347" id="w-node-_2c5867b8-b547-80f5-ed15-11a99dab5a58-c4e1a9b0" alt="" class="gallery-image"><img src="~/FrontEndAssets/images/jared-rice-PibraWHb4h8-unsplash.png" loading="lazy" width="347" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, 30vw" srcset="~/FrontEndAssets/images/jared-rice-PibraWHb4h8-unsplash-p-500.png 500w, /FrontEndAssets/images/jared-rice-PibraWHb4h8-unsplash.png 527w" alt="" class="gallery-image"><img src="~/FrontEndAssets/images/TErmostatica-ITAca-1.svg" loading="lazy" width="347" id="w-node-_2c5867b8-b547-80f5-ed15-11a99dab5a5a-c4e1a9b0" alt="" class="gallery-image"><img src="~/FrontEndAssets/images/aaron-huber-G7sE2S4Lab4-unsplash1.svg" loading="lazy" width="347" id="w-node-_2c5867b8-b547-80f5-ed15-11a99dab5a5b-c4e1a9b0" alt="" class="gallery-image"><img src="~/FrontEndAssets/images/hamada1.png" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, 30vw" srcset="~/FrontEndAssets/images/pexels-max-vakhtbovych-7166551-p-500.png 500w, /FrontEndAssets/images/hamada1.png 527w" alt="" class="gallery-image"></div>
                <a href="gallery.html" class="view-more w-button">View More</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="c__section is--footer">
            <div class="c__container">
                <div class="c__flex">
                    <div class="social-media-footer">
                        <div class="socialmedia-links">
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-63.svg" loading="lazy" alt=""></a>
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-60.svg" loading="lazy" alt=""></a>
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-61.svg" loading="lazy" alt=""></a>
                            <a href="#" class="w-inline-block"><img src="~/FrontEndAssets/images/Component-62.svg" loading="lazy" alt=""></a>
                        </div>
                        <div class="w-form">
                            <form id="email-form" name="email-form" data-name="Email Form" class="form-2"><label for="Email-3" class="field-label">Subscribe</label><input type="email" class="text-field w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Enter Your Email" id="Email-2"><input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button w-button"></form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Our Products</div>
                        <a href="#products" class="link">Tiles &amp; Slabs</a>
                        <a href="#products" class="link">Signature Tiles</a>
                        <a href="#products" class="link">Countertops</a>
                        <a href="#products" class="link">Handmade</a>
                        <a href="#products" class="link">Mosaics</a>
                        <a href="#products" class="link">Roofing</a>
                        <a href="#products" class="link">Xterior</a>
                        <a href="#products" class="link">Sanitary Ware</a>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Our Brands</div>
                        <a href="brands.html" class="link">Stroham</a>
                        <a href="brands.html" class="link">Turati</a>
                        <a href="brands.html" class="link">Deco vita</a>
                        <a href="brands.html" class="link">Luna Tiles</a>
                        <a href="brands.html" class="link">Lafenice</a>
                        <a href="brands.html" class="link">Squamers</a>
                        <a href="#" class="link">Terratinta</a>
                        <a href="brands.html" class="link">Mariner</a>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Company</div>
                        <a href="about.html" aria-current="page" class="link w--current">About Us</a>
                        <a href="contactus.html" class="link">Contact Us</a>
                        <a href="#" class="link">Projects</a>
                        <a href="gallery.html" class="link">Gallery</a>
                        <a href="#" class="link">Blog</a>
                    </div>
                    <div class="footer-desc">
                        <div class="div-block-24">
                            <a href="#" class="logo w-inline-block"><img src="~/FrontEndAssets/images/English---Dark.svg" loading="lazy" width="161" alt="" class="image-9"></a>
                            <a href="#about" class="link-block-2 w-inline-block"><img src="~/FrontEndAssets/images/Group-10811.svg" loading="lazy" alt=""></a>
                        </div>
                        <p class="footer-logo-desc">7 A St - Al Quoz - Dubai - United Arab Emirates Al Shafar Investment Building - Al Shafar Investment Building - Sheikh Zayed Rd - Dubai - United Arab Emirates</p>
                        <div class="contact-info-footer">
                            <img src="~/FrontEndAssets/images/Path-63.svg" loading="lazy" alt="">
                            <div class="text-block-3">info@tileo.ae</div>
                        </div>
                        <div class="contact-info-footer">
                            <img src="~/FrontEndAssets/images/Group-37.svg" loading="lazy" alt="">
                            <div class="text-block-3">+971 50 587 1070</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright-text">Copyright © 2020. All rights reserved.</div>
        </div>
    </div>
</div>