@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@model AboutCompany


<div class="div-block-123">
    <div class="heronothome">
        <div class="con900">
            <h1 class="heading-24 h24hero"><strong>About Us</strong></h1>
        </div>
    </div>
    <div class="con1300">
        <div class="div-block-171">
            <div class="div-block-125">
                <div id="w-node-80f0bef9826f-f3b43fd5" class="div-block-170">
                    <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                        <div class="tabs-menu-3 w-tab-menu">
                            <a data-w-tab="Tab 1" class="tab-link-tab-2-3 w-inline-block w-tab-link">
                                <div>Our Story</div>
                            </a>
                            <a data-w-tab="Tab 2" class="tab-link-tab-2-3 w-inline-block w-tab-link w--current">
                                <div>About Us</div>
                            </a>
                        </div>
                        <div class="tabs-content-2 w-tab-content">
                            <div data-w-tab="Tab 1" class="w-tab-pane">
                                <p class="paragraph-17">We have started in 2014 because we have realized the need for digital transformation in the healthcare industry in the MENA region where the direct link between medical service payers &amp; medical service providers was missing.</p>
                            </div>
                            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
                                <p class="paragraph-17">inHealth is a limited liability Emirati company established in 2014 by international expertise in healthcare financing and healthcare benefits management. Our main goal is to introduce new services and innovative solutions for the healthcare industry in the MENA region where it provides efficient and effective ways for all stakeholders within the health care industry.</p>
                                <div class="div-block-173">
                                    <div class="div-block-175">
                                        <div id="w-node-433e416a5509-f3b43fd5" class="text-block-30"></div>
                                        <div class="text-block-31">Breakthrough in Digital transformation</div>
                                    </div>
                                    <div class="div-block-175">
                                        <div id="w-node-761e6a525264-f3b43fd5" class="text-block-30"></div>
                                        <div class="text-block-31">Innovative digital services</div>
                                    </div>
                                    <div class="div-block-175">
                                        <div id="w-node-306fb0bbffc3-f3b43fd5" class="text-block-30"></div>
                                        <div class="text-block-31">Reduce medical claim costs</div>
                                    </div>
                                    <div class="div-block-175">
                                        <div id="w-node-8fb8d113c88e-f3b43fd5" class="text-block-30"></div>
                                        <div class="text-block-31">Innovative products and services</div>
                                    </div>
                                    <div class="div-block-175">
                                        <div id="w-node-0595f28a7af6-f3b43fd5" class="text-block-30"></div>
                                        <div class="text-block-31">Need oriented</div>
                                    </div>
                                    <div class="div-block-175">
                                        <div id="w-node-3d6850c57d5b-f3b43fd5" class="text-block-30"></div>
                                        <div class="text-block-31">Great User friendly experience</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="w-node-44ca16fac410-f3b43fd5" class="div-block-94">
                    <div data-w-id="9d71c780-4670-b164-ef42-44ca16fac411" class="div-block-45">
                        <div class="div-block-46"></div>
                        <div style="-webkit-transform:translate3d(0PX, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0PX, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0PX, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0PX, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="div-block-72"></div>
                        <div class="div-block-73 db73"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-block-172">
        <div class="con1300">
            <div class="w-layout-grid grid-15">
                <div id="w-node-245e88f7a8c3-f3b43fd5" class="div-block-82">
                    <div class="div-block-83 db83inhealthataglance"></div>
                </div>
                <div class="div-block-81">
                    <h1 class="heading-13"><strong>inHealth At a Glance</strong></h1>
                    <p class="paragraph-9-copy">inHealth is a turnkey solution provider specialized in development of IT Healthcare systems in the EMEA region.<br><br>End-to-end automated process for setting up the healthcare standards and One-stop-shop Medical Platform system integration connecting healthcare providers, patients, and insurance payers as well as regulators in one solution.<br><br>Trusted partner to regional Gov entities such as MOI (Ministry of Interior), MOH (Ministry of Health), DOH (Department of Health), HCA (Healthcare Authority), &amp; medical providers to name a few. Delivered the first federal project in the UAE that securely register the medical providers &amp; patients, prescribe &amp; dispense medications that improve care and safety.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="div-block-160">
        <div class="text-block-24">Breaking Barriers for Health Evolution</div>
    </div>
    <div class="div-block-124">
        <h1 class="heading-24 h24mid"><strong>Key Services</strong></h1>
        <div class="div-block-176">
            <div data-w-id="20daee74-e71e-d4e8-3ac6-7b0423376bcb" class="cardabouthover">
                <div class="keyservicesicons"></div>
                <div>Card Title</div>
                <div style="height:0px" class="cah">
                    <p class="paragraph-27">Health information exchange related to medical pre-authorization, and e-claims services between health regulators, health insurance companies and medical service providers.</p>
                </div>
            </div>
            <div data-w-id="43825bef-103f-909b-427e-a59e758293af" class="cardabouthover">
                <div class="keyservicesicons"></div>
                <div>Card Title</div>
                <div style="height:0px" class="cah">
                    <p class="paragraph-27">First of a kind platform in the region for prescribing and dispensing of opioids medication, supporting the health regulators and related agencies to enforce the applicable laws and protect the citizens from the likelihood of opioids addiction.</p>
                </div>
            </div>
            <div data-w-id="200a2a14-747c-aea0-80ed-3e926f7434c6" class="cardabouthover">
                <div class="keyservicesicons"></div>
                <div>Card Title</div>
                <div style="height:0px" class="cah">
                    <p class="paragraph-27">Multi million rules medical necessity Engine used by insurance companies to automate their medical claims adjudication processes, bringing high operational efficiency with 94% automation rate.</p>
                </div>
            </div>
            <div data-w-id="9a2faecd-7c79-ded4-e934-816c7dc4b99c" class="cardabouthover">
                <div class="keyservicesicons"></div>
                <div>Card Title</div>
                <div style="height:0px" class="cah">
                    <p class="paragraph-27">Insurance related pharmacy benefits management and electronic pre-approvals for dispensing medication.</p>
                </div>
            </div>
            <div data-w-id="de0ff923-f3ca-c142-1bd9-161b36ec9382" class="cardabouthover">
                <div class="keyservicesicons"></div>
                <div>Card Title</div>
                <div style="height:0px" class="cah">
                    <p class="paragraph-27">A platform that integrates the insurance card information into National IDs and digital IDs while eliminating the traditional plastic health cards.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="div-block-124">
        <div class="div-block-125">
            <div id="w-node-12374f685850-f3b43fd5" class="div-block-152">
                <div class="div-block-82">
                    <div class="div-block-83 db83"></div>
                </div>
            </div>
            <div id="w-node-80e31d78444b-f3b43fd5">
                <h2 class="heading-24"><strong>WHO DO WE WORK WITH</strong></h2>
                <p class="paragraph-17">If you are looking for a digital partner in the healthcare industry and do not know where and how to start then you are just in the right place!<br><br>This is a call for all stakeholders of healthcare ecosystem, insurers, public healthcare administrators, hospitals, medical practices, medical labs and even pharmacies!<br><br>We can grow together, by getting e-Authorization approvals and eligibility check in less than 9 seconds!<br><br>Yes 9 seconds, read it right to ensure the highest patient satisfaction rate in ther journey!<br><br>Fill the form below and we will get in touch with you shortly:<br></p>
                <div class="div-block-161">
                    <div data-w-id="d774c714-2d86-bd17-54ef-0f3decb37748" class="text-block-25">Get in touch with us</div>
                    <div style="height:0px" class="div-block-162">
                        <div class="form-block-4 w-form">
                            <form id="email-form" name="email-form" data-name="Email Form"><input type="text" class="text-field-3 w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Name.." id="name-3" required=""><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Company.." id="name-2" required=""><input type="number" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Phone number.." id="name-2" required=""><input type="email" class="text-field-3 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Email.." id="email-2" required=""><input type="submit" value="Send" data-wait="Please wait..." class="button-2 w-button"></form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>