@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

}

<div id="brands" class="brands">
    <div class="c__section is--full-width is--white">
        <div class="c__container">
            <div class="c__content">
                <div class="main--section">
                    <div class="ourbrands-title">
                        <h1 class="h-60">Our Brands</h1>
                    </div>
                    <div class="slide__content-bottom"><img src="~/FrontEndAssets/images/Group-9744.svg" loading="lazy" width="26" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section is--signature">
        <div class="c__container">
            <div class="c__content">
                <h1 class="h-24">Your Space in Mind</h1>
                <h1 class="h-40">Leaders &amp; Partners in Design</h1>
                <p class="p-28">We Partner With An Elite Selection Of Brands Who Share Our Vision Of Bringing Your Aesthetic Point Of View To Life, Where You Can Truly Immerse Yourself In Surface Coverings Of Every Trend And Style.</p>
            </div>
        </div>
    </div>
    <div class="c__section c__margin">
        <div class="c__container">
            <div class="c__content">
                <div class="top">
                    <div class="fullwidth-grid-image">
                        <img src="~/FrontEndAssets/images/English---Light.svg" loading="lazy" width="301" alt="">
                        <div class="read-more">
                            <img src="~/FrontEndAssets/images/Ellipse-29.svg" loading="lazy" alt="">
                            <a href="#" class="button w-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/terratinta-cover2020-5.png" loading="lazy" alt="" sizes="(max-width: 479px) 77.140625px, (max-width: 767px) 23vw, (max-width: 991px) 25vw, (max-width: 1279px) 27vw, 33vw" srcset="~/FrontEndAssets/images/terratinta-cover2020-5-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-10796.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Terratinta </h1>
                            <p class="p-24">An Italian brand for ceramics and porcelain, leading and specializing in select aspects of European designs, including inside floors and wall finishes</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/promo-nambia.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 33vw" srcset="~/FrontEndAssets/images/promo-nambia-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Tuscania</h1>
                            <p class="p-24">A porcelain stoneware made in Italy, approaching tiles with the sensitive touch deserved by natural products while featuring a vast collection of the latest designs and effects</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/NOVA-25X60-AMBIENTE-1.png" loading="lazy" alt="" sizes="(max-width: 479px) 77.140625px, (max-width: 767px) 23vw, (max-width: 991px) 25vw, (max-width: 1279px) 27vw, 33vw" srcset="~/FrontEndAssets/images/NOVA-25X60-AMBIENTE-1-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-10795.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Luna Tile</h1>
                            <p class="p-24">The Spanish signature company founded years ago in response to the rising demand for highly specialized products, including custom-made porcelain and ceramic tiles</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/Untitled-6.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 33vw" srcset="~/FrontEndAssets/images/Untitled-6-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Path-11233.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Azulejos Benadresa</h1>
                            <p class="p-24">Infinite Spanish possibilities to uplift any atmosphere with your very personal style through a continuously evolving philosophy of tile innovation, texture and color</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/slide-02-1920.svg" loading="lazy" alt="" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-9769_1.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Turati </h1>
                            <p class="p-24">Italian boiserie compositions that add markedly emotional solutions to your kitchen with prestigious production methods and unique highlights to the beauty of detail</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/DOM_Catalogo_iterno_low_compressed-1.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 33vw" srcset="~/FrontEndAssets/images/DOM_Catalogo_iterno_low_compressed-1-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-10808.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Dom (A Tile’O-Exclusive in the UAE)</h1>
                            <p class="p-24">A tight grasp of the anticipated trends and changes in design, as an Italian brand of the international Victoria PLC offering creative and efficient services</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x.png" loading="lazy" alt="" sizes="(max-width: 479px) 77.140625px, (max-width: 767px) 23vw, (max-width: 991px) 25vw, (max-width: 1279px) 27vw, 33vw" srcset="~/FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x-p-500.png 500w, /FrontEndAssets/images/christian-mackie-yb9b2wbhxG4-unsplash2x-p-800.png 800w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/LOGO-MARINER.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Mariner (A Tile’O-Exclusive in the UAE)</h1>
                            <p class="p-24">An adventure of tiles since 35+ years and also the reference point for the production and sales of ceramic tiles, both in Italy and abroad </p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/chastity-cortijo-6TY_WrJTwSI-unsplash.svg" loading="lazy" alt="" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-10788.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Valsecchia (Tile’O-Exclusive in the UAE)</h1>
                            <p class="p-24">Natural and technical worlds at their best when it comes to producing Italian porcelain stoneware tiles for walls and floors, with over 60 years of expertise</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/1.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 33vw" srcset="~/FrontEndAssets/images/1-p-500.png 500w, /FrontEndAssets/images/1-p-800.png 800w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-10809.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Tagina (A Tile’O-Exclusive in the UAE)</h1>
                            <p class="p-24">The Italian carrier of beauty into our everyday life, where you can write your stories with evolving forms that express your style in every shape and shade</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/r-architecture-P_0tnQ8hb70-unsplash2x.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 33vw" srcset="~/FrontEndAssets/images/r-architecture-P_0tnQ8hb70-unsplash2x-p-500.png 500w, /FrontEndAssets/images/r-architecture-P_0tnQ8hb70-unsplash2x-p-800.png 800w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="~/FrontEndAssets/images/Group-10810.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">Strohm Teka (A Tile’O-Exclusive in the UAE)</h1>
                            <p class="p-24">A Spanish all-product global solution for your bathroom spaces, transforming them with functionality, care and inspiring hygiene experiences into flawless lifestyle fits</p>
                            <ul role="list" class="list">
                                <li class="link-block">View Catalog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="c__section is--footer">
            <div class="c__container">
                <div class="c__flex">
                    <div class="social-media-footer">
                        <div class="socialmedia-links">
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-63.svg" loading="lazy" alt=""></a>
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-60.svg" loading="lazy" alt=""></a>
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-61.svg" loading="lazy" alt=""></a>
                            <a href="#" class="w-inline-block"><img src="~/FrontEndAssets/images/Component-62.svg" loading="lazy" alt=""></a>
                        </div>
                        <div class="w-form">
                            <form id="email-form" name="email-form" data-name="Email Form" class="form-2"><label for="Email-3" class="field-label">Subscribe</label><input type="email" class="text-field w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Enter Your Email" id="Email-2"><input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button w-button"></form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Our Products</div>
                        <a href="#products" class="link">Tiles &amp; Slabs</a>
                        <a href="#products" class="link">Signature Tiles</a>
                        <a href="#products" class="link">Countertops</a>
                        <a href="#products" class="link">Handmade</a>
                        <a href="#products" class="link">Mosaics</a>
                        <a href="#products" class="link">Roofing</a>
                        <a href="#products" class="link">Xterior</a>
                        <a href="#products" class="link">Sanitary Ware</a>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Our Brands</div>
                        <a href="brands.html" aria-current="page" class="link w--current">Stroham</a>
                        <a href="brands.html" aria-current="page" class="link w--current">Turati</a>
                        <a href="brands.html" aria-current="page" class="link w--current">Deco vita</a>
                        <a href="brands.html" aria-current="page" class="link w--current">Luna Tiles</a>
                        <a href="brands.html" aria-current="page" class="link w--current">Lafenice</a>
                        <a href="brands.html" aria-current="page" class="link w--current">Squamers</a>
                        <a href="#" class="link">Terratinta</a>
                        <a href="brands.html" aria-current="page" class="link w--current">Mariner</a>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Company</div>
                        <a href="about.html" class="link">About Us</a>
                        <a href="contactus.html" class="link">Contact Us</a>
                        <a href="#" class="link">Projects</a>
                        <a href="gallery.html" class="link">Gallery</a>
                        <a href="#" class="link">Blog</a>
                    </div>
                    <div class="footer-desc">
                        <div class="div-block-24">
                            <a href="#" class="logo w-inline-block"><img src="~/FrontEndAssets/images/English---Dark.svg" loading="lazy" width="161" alt="" class="image-9"></a>
                            <a href="#brands" class="link-block-2 w-inline-block"><img src="~/FrontEndAssets/images/Group-10811.svg" loading="lazy" alt=""></a>
                        </div>
                        <p class="footer-logo-desc">7 A St - Al Quoz - Dubai - United Arab Emirates Al Shafar Investment Building - Al Shafar Investment Building - Sheikh Zayed Rd - Dubai - United Arab Emirates</p>
                        <div class="contact-info-footer">
                            <img src="~/FrontEndAssets/images/Path-63.svg" loading="lazy" alt="">
                            <div class="text-block-3">info@tileo.ae</div>
                        </div>
                        <div class="contact-info-footer">
                            <img src="~/FrontEndAssets/images/Group-37.svg" loading="lazy" alt="">
                            <div class="text-block-3">+971 50 587 1070</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright-text">Copyright © 2020. All rights reserved.</div>
        </div>
    </div>
</div>
