
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    List<CareerVacancies> AllHomeWhy = (List<CareerVacancies>)ViewBag.AllCareers;
}
@model Career
<div class="div-block-126">
    <div class="div-block-127"></div>
    <div class="div">
        <h1 class="heading-25">Career</h1>
        <p class="paragraph-14">@Html.Raw(Model.Title)</p>
        <h1 class="heading-25">Current Vacancies</h1>
        <div class="div-block-128" @(AllHomeWhy.Count() == 1 ? "style=display:initial !important" : "")>

            @foreach (var item in AllHomeWhy)
            {
                <a href="/home/vacancy/@item.Id" class="button-2 w-button">@item.Title</a>
            }

        </div>
    </div>
</div>