@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

}

<div id="contactUs" class="contact__us">
    <div class="contact__us-section">
        <div class="contactus__section-top"><img src="~/FrontEndAssets/images/Group-108062x.png" loading="lazy" sizes="(max-width: 3840px) 100vw, 3840px" srcset="~/FrontEndAssets/images/Group-108062x-p-500.png 500w, /FrontEndAssets/images/Group-108062x-p-800.png 800w, /FrontEndAssets/images/Group-108062x-p-1080.png 1080w, /FrontEndAssets/images/Group-108062x-p-1600.png 1600w, /FrontEndAssets/images/Group-108062x-p-2000.png 2000w, /FrontEndAssets/images/Group-108062x-p-2600.png 2600w, /FrontEndAssets/images/Group-108062x-p-3200.png 3200w, /FrontEndAssets/images/Group-108062x.png 3840w" alt="" class="map"></div>
        <div class="contactus__section-bottom">
            <div class="contact-info">
                <div class="contact-info-content">
                    <h1 class="footer__heading">Our Address</h1>
                    <div class="footer__text">Dubai, Street Name, Avenue Square line building 007,<br>P.O Box Number</div>
                </div>
                <div class="contact-info-content">
                    <h1 class="footer__heading">Our Contacts</h1>
                    <div class="c-info">
                        <img src="~/FrontEndAssets/images/Path-11203.svg" loading="lazy" width="20" alt="">
                        <div class="text-block-5">info@tileo.ae</div>
                    </div>
                    <div class="c-info">
                        <img src="~/FrontEndAssets/images/Group-9734.svg" loading="lazy" width="20" alt="">
                        <div class="text-block-6">+971 4 123 4567</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactform">
            <div class="contactus-form w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
                    <h1 class="form-heading">Contact us</h1>
                    <div class="p-24">We would love to hear from you. Kindly use our contact details and the form below for any inquiries or feedback, and we will respond as promptly as possible.</div><input type="text" class="text-field-2 w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name"><input type="email" class="text-field-3 w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="Email" id="email-3" required=""><input type="tel" class="text-field-4 w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="Phone" id="email-3" required=""><input type="text" class="text-field-5 w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="Message" id="email-3" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-btn w-button">
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
            <div class="div-block-16">
                <div class="div-block-18"><img src="~/FrontEndAssets/images/Component-63.svg" loading="lazy" width="20" alt=""><img src="~/FrontEndAssets/images/Component-60.svg" loading="lazy" width="20" alt=""><img src="~/FrontEndAssets/images/Component-61.svg" loading="lazy" width="20" alt=""><img src="~/FrontEndAssets/images/Component-62.svg" loading="lazy" width="15" alt=""></div>
                <div class="div-block-19">
                    <div class="div-block-20"></div>
                    <div class="text-block-4">Follow us</div>
                </div>
            </div>
        </div>
    </div>
</div>
