

@{ Layout = "~/Views/Shared/_LayoutFront.cshtml"; }

<div class="div-block-117">
    <div class="div-block-115">
        <div class="div-block-116">
            <h1 class="heading-21">How to contact us</h1>
            <div class="div-block-118">
                <a href="#" class="button-5 b5active w-button">General inquiry</a>
                <a href="#" class="button-5 w-button">Sales</a>
                <a href="#" class="button-5 w-button">Support</a>
            </div>
            <div class="form-block-2 w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="form"><input type="text" class="text-field-2 w-input" maxlength="256" name="name" data-name="Name" placeholder="First name.." id="name" required=""><input type="text" class="text-field-2 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Last name.." id="name-2" required=""><input type="email" class="text-field-2 w-input" maxlength="256" name="email" data-name="Email" placeholder="Email.." id="email" required=""><input type="tel" class="text-field-2 w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Mobile number" id="Phone" required=""><input type="text" class="text-field-2 tf2l w-input" maxlength="256" name="subject" data-name="subject" placeholder="Subject.." id="subject" required=""><textarea placeholder="Message" maxlength="5000" id="field" name="field" required="" class="textarea w-input"></textarea><input type="submit" value="Send" data-wait="Please wait..." class="submit-button w-button"></form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
        <div class="div-block-119">
            <div class="html-embed w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3632.939834459517!2d54.44091491499419!3d24.418157684264475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e662a7dd7e2ed%3A0xe60b1e741932612f!2sinHealth%20-%20Independent%20Health%20Information%20Technology%20Services!5e0!3m2!1sen!2slb!4v1603133133886!5m2!1sen!2slb" width="100%" height="350" frameborder="0" style="border:0;border-radius:16px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
            <div class="text-block-14">Address:</div>
            <div class="text-block-15">Abu Dhabi Office<br>Independent Health Information Technology Services LLC - inHealth<br>P.O. Box 127570<br>Abu Dhabi, United Arab Emirates</div>
            <div class="text-block-14">Phone:</div>
            <div class="text-block-15">+971 600 524647</div>
            <div class="text-block-14">Email:</div>
            <div class="text-block-15"><span class="text-span-2">For general inquiries:</span> info@inhealth.ae<br><span class="text-span-2">For sales inquiries:</span> sales@inhealth.ae<br><span class="text-span-2">For support inquiries:</span> support@inhealth.ae</div>
        </div>
    </div>
</div>