

@{ Layout = "~/Views/Shared/_LayoutFront.cshtml"; }


<div class="div-block-132">
    <h1 class="heading-28">Frequently Asked Questions</h1>
    <div class="div-block-134">
        <div id="w-node-aab2cbbfb57d-9b4c5fc4" class="div-block-135"><img src="/FrontEndAssets/images/open-jet-inhealth.png" loading="lazy" width="249" alt=""></div>
    </div>
    <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div id="w-node-d52c261671bf-9b4c5fc4" class="tabs-menu-2 w-tab-menu">
            <a data-w-tab="Tab 1" class="tab-link-tab-2-2 w-inline-block w-tab-link w--current">
                <div class="text-block-19">OPENJet Pharmacy Module</div>
            </a>
            <a data-w-tab="Tab 2" class="tab-link-tab-2-2 w-inline-block w-tab-link">
                <div class="text-block-19">OPENJet E-Authorization Module</div>
            </a>
            <a data-w-tab="Tab 3" class="tab-link-tab-2-2 w-inline-block w-tab-link">
                <div class="text-block-19">OPENJet Eligibility Module</div>
            </a>
            <a data-w-tab="Tab 4" class="tab-link-tab-2-2 w-inline-block w-tab-link">
                <div class="text-block-19">OPENJet Controlled Medication Unified Platform</div>
            </a>
        </div>
        <div id="w-node-d52c261671c9-9b4c5fc4" class="tabs-content w-tab-content">
            <div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane w--tab-active">
                <ol role="list" class="list-2">
                    <li class="list-item">
                        <div data-w-id="d62c09df-7f5c-7063-9d18-b2887ec7413e" style="color:rgb(76,76,76)" class="text-block-20">Why do I have connection failed error?</div>
                        <p style="height:0PX" class="paragraph-16">This is a regulatory issue.<br><br>Kindly note that the Provider login and password to the Post Office (HAAD/DHA) are invalid/expired.<br><br>For any errors in regulatory information (e.g. a failed connection), please approach the regulator for your update information.</p>
                    </li>
                    <li class="list-item">
                        <div data-w-id="f9536d4e-eef6-6e67-2418-3d973dda3746" style="color:rgb(76,76,76)" class="text-block-20">Why do I have connection failed error?</div>
                        <p style="height:0PX" class="paragraph-16">This is a regulatory issue.<br><br>Kindly note that the Provider login and password to the Post Office (HAAD/DHA) are invalid/expired.<br><br>For any errors in regulatory information (e.g. a failed connection), please approach the regulator for your update information.</p>
                    </li>
                    <li class="list-item">
                        <div data-w-id="28fe2f25-817a-8ca9-b933-feb638a45030" style="color:rgb(76,76,76)" class="text-block-20">Why do I have connection failed error?</div>
                        <p style="height:0PX" class="paragraph-16">This is a regulatory issue.<br><br>Kindly note that the Provider login and password to the Post Office (HAAD/DHA) are invalid/expired.<br><br>For any errors in regulatory information (e.g. a failed connection), please approach the regulator for your update information.</p>
                    </li>
                    <li class="list-item">
                        <div data-w-id="0de6fc4d-14ba-83fb-51af-d72d29ee1690" style="color:rgb(76,76,76)" class="text-block-20">Why do I have connection failed error?</div>
                        <p style="height:0PX" class="paragraph-16">This is a regulatory issue.<br><br>Kindly note that the Provider login and password to the Post Office (HAAD/DHA) are invalid/expired.<br><br>For any errors in regulatory information (e.g. a failed connection), please approach the regulator for your update information.</p>
                    </li>
                    <li class="list-item">
                        <div data-w-id="428f2464-04b7-4a87-7814-564473d2c6b9" style="color:rgb(76,76,76)" class="text-block-20">Why do I have connection failed error?</div>
                        <p style="height:0PX" class="paragraph-16">This is a regulatory issue.<br><br>Kindly note that the Provider login and password to the Post Office (HAAD/DHA) are invalid/expired.<br><br>For any errors in regulatory information (e.g. a failed connection), please approach the regulator for your update information.</p>
                    </li>
                    <li class="list-item">
                        <div data-w-id="9c225c0f-8585-946f-cae8-653104f32351" style="color:rgb(76,76,76)" class="text-block-20">Why do I have connection failed error?</div>
                        <p style="height:0PX" class="paragraph-16">This is a regulatory issue.<br><br>Kindly note that the Provider login and password to the Post Office (HAAD/DHA) are invalid/expired.<br><br>For any errors in regulatory information (e.g. a failed connection), please approach the regulator for your update information.</p>
                    </li>
                </ol>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane"></div>
            <div data-w-tab="Tab 3" class="w-tab-pane"></div>
            <div data-w-tab="Tab 4" class="w-tab-pane"></div>
        </div>
    </div>
</div>