@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

}


<div id="home" class="home">
    <div class="c__section is--slider">
        <div class="c__container is--first">
            <div class="c__content">
                <div class="fade">
                    <div class="w-embed">
                        <style>
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
                        </style>
                    </div>
                </div>
                <div class="section-slider">
                    <div class="container-slider">
                        <div class="slideshow-container-2">
                            <div class="myslides fade">
                                <img src="~/FrontEndAssets/images/first.svg" loading="lazy" alt="" class="img-slide">
                                <div class="slider__content">
                                    <div class="slide__content-top">
                                        <h1 class="slider__heading">Introducing Tiles in Your<br>Terms of Charm</h1>
                                        <a href="#products" data-w-id="809aa7ed-ebd1-0fa7-e2f7-4ab633e8e657" class="slider__button w-button">View Products</a>
                                    </div>
                                    <div class="slide__content-bottom"><img src="~/FrontEndAssets/images/Group-9744.svg" loading="lazy" width="22" alt=""></div>
                                </div>
                            </div>
                            <div class="myslides fade">
                                <img src="~/FrontEndAssets/images/second.svg" loading="lazy" alt="" class="img-slide">
                                <div class="slider__content">
                                    <div class="slide__content-top">
                                        <h1 class="slider__heading">One Tile Can Make<br>the Whole Difference</h1>
                                        <a href="brands.html" class="slider__button is__second w-button">View Brands &amp; Catalog</a>
                                    </div>
                                    <div class="slide__content-bottom"><img src="~/FrontEndAssets/images/Group-9744.svg" loading="lazy" alt=""></div>
                                </div>
                            </div>
                            <div class="myslides fade">
                                <img src="~/FrontEndAssets/images/Rectangle-2354.png" loading="lazy" sizes="100vw" srcset="~/FrontEndAssets/images/Rectangle-2354-p-500.png 500w, images/Rectangle-2354-p-800.png 800w, /FrontEndAssets/images/Rectangle-2354-p-1080.png 1080w, /FrontEndAssets/images/Rectangle-2354-p-1600.png 1600w, /FrontEndAssets/images/Rectangle-2354.png 1920w" alt="" class="img-slide">
                                <div class="slider__content">
                                    <div class="slide__content-top">
                                        <h1 class="slider__heading">A Design Solution<br>for Every Space</h1>
                                        <a href="about.html" class="slider__button is__3 w-button">Meet Tile’O</a>
                                    </div>
                                    <div class="slide__content-bottom"><img src="~/FrontEndAssets/images/Group-9744.svg" loading="lazy" alt=""></div>
                                </div>
                            </div>
                            <div class="myslides fade">
                                <img src="~/FrontEndAssets/images/third.svg" loading="lazy" alt="" class="img-slide">
                                <div class="slider__content">
                                    <div class="slide__content-top">
                                        <h1 class="slider__heading">Where Every Day Spaces<br>Look Extraordinary</h1>
                                        <a href="gallery.html" class="slider__button is--4 w-button">Explore Gallery</a>
                                    </div>
                                    <div class="slide__content-bottom"><img src="~/FrontEndAssets/images/Group-9744.svg" loading="lazy" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="c-dots w-embed">
                            <div class="c-dots">
                                <span class="dot-click" onclick="currentSlide(1)"></span>
                                <span class="dot-click" onclick="currentSlide(2)"></span>
                                <span class="dot-click" onclick="currentSlide(3)"></span>
                                <span class="dot-click" onclick="currentSlide(4)"></span>
                            </div>
                            <style>
                                .dot-click {
                                    cursor: pointer;
                                    height: 17px;
                                    width: 2px;
                                    margin: 10px 2px;
                                    background-color: #ffffff;
                                    display: inline-block;
                                    transition: background-color 0.6s ease;
                                }

                                .active {
                                    background-color: #D3AD26;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section is--signature">
        <div class="c__container">
            <div class="c__content">
                <h1 class="h-24">Signed By Tile’O</h1>
                <h1 class="h-40">Your Aesthetic Point of View</h1>
                <p class="p-28">Welcome to a conversation of color and lines, patterns and trends, sizes and dimensions, proportion and harmony — a never ending exchange of design vibes led by your aesthetic point of view.  <br><br>In value to your unique design preferences, our collection features every angle of tile perfection so that you are in a position to sense the spark of chemistry, the touch of magic, the feeling that will enchant you with the beauty of space as if you never belonged anywhere else.</p>
            </div>
        </div>
    </div>
    <div class="c__section is--pading">
        <div class="c__grid">
            <div id="w-node-_8e161f61-5930-fa16-5e8b-4af703685225-90ae86b6" data-w-id="8e161f61-5930-fa16-5e8b-4af703685225" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/1.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/1-p-500.png 500w, /FrontEndAssets/images/1-p-800.png 800w, /FrontEndAssets/images/1.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">Slabs</h1>
            </div>
            <div data-w-id="a3511ded-c602-29c7-fc18-f252cbf99a73" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/2.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/2-p-500.png 500w, /FrontEndAssets/images/2-p-800.png 800w, /FrontEndAssets/images/2.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">Countertops</h1>
            </div>
            <div data-w-id="a55e264b-e9cb-ccd4-650a-f92adf9eba01" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/3.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/3-p-500.png 500w, /FrontEndAssets/images/3-p-800.png 800w, /FrontEndAssets/images/3.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">Vintage</h1>
            </div>
            <div data-w-id="16429305-d2e1-e466-66d5-5411ba050480" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/4.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/4-p-500.png 500w, /FrontEndAssets/images/4-p-800.png 800w, /FrontEndAssets/images/4.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">Tiles</h1>
            </div>
            <div data-w-id="09ce7a51-3671-e565-47c8-7128e16c21ef" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/5.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/5-p-500.png 500w, /FrontEndAssets/images/5-p-800.png 800w, /FrontEndAssets/images/5.png 805w" alt="" class="image-fit">
                <img src="~/FrontEndAssets/images/5.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/5-p-500.png 500w, /FrontEndAssets/images/5-p-800.png 800w, /FrontEndAssets/images/5.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">pool</h1>
            </div>
            <div data-w-id="fde7f5af-220b-449c-80bc-76c3bfe1aae7" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/6.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/6-p-500.png 500w, /FrontEndAssets/images/6-p-800.png 800w, /FrontEndAssets/images/6.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">exterior</h1>
            </div>
            <div id="w-node-_29cc0399-1682-25ff-cb02-c3040516b605-90ae86b6" data-w-id="29cc0399-1682-25ff-cb02-c3040516b605" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/7.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/7-p-500.png 500w, /FrontEndAssets/images/7-p-800.png 800w, /FrontEndAssets/images/7.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">Sanitary Ware</h1>
            </div>
            <div data-w-id="759ea5f7-bc2d-363f-90dd-d7af835c0a7e" class="home-gallery-image">
                <img src="~/FrontEndAssets/images/8.png" loading="lazy" sizes="(max-width: 479px) 35vw, (max-width: 767px) 41vw, (max-width: 991px) 43vw, (max-width: 1279px) 45vw, 49vw" srcset="~/FrontEndAssets/images/8-p-500.png 500w, /FrontEndAssets/images/8-p-800.png 800w, /FrontEndAssets/images/8.png 805w" alt="" class="image-fit">
                <h1 style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h-40 is--white">roofing</h1>
            </div>
        </div>
    </div>
    <div class="c__section is--full-width">
        <div class="c__container">
            <div class="c__content">
                <div class="top">
                    <h3 class="h-24">Our Brands</h3>
                    <h1 class="h-40 white">Partners We Trust</h1>
                </div>
                <div class="bottom is--black">
                    <div data-animation="slide" data-duration="500" class="slider w-slider">
                        <div class="mask w-slider-mask">
                            <div class="slide w-slide">
                                <div class="div-block-8">
                                    <div class="div-block-7"><img src="~/FrontEndAssets/images/Group-9750.svg" loading="lazy" width="120" alt="" class="image-3"><img src="~/FrontEndAssets/images/Group-9769.svg" loading="lazy" width="115" alt="" class="image-3 is-small"><img src="~/FrontEndAssets/images/Group-9757.svg" loading="lazy" width="120" alt="" class="image-3"><img src="~/FrontEndAssets/images/Group-9759.svg" loading="lazy" width="120" alt="" class="image-3"><img src="~/FrontEndAssets/images/full_white.svg" loading="lazy" width="120" alt="" class="image-3"><img src="~/FrontEndAssets/images/Path-11119.svg" loading="lazy" width="120" alt="" class="image-3"></div>
                                </div>
                            </div>
                            <div class="slide w-slide">
                                <div class="div-block-8">
                                    <div class="div-block-7"><img src="~/FrontEndAssets/images/Group-9750.svg" loading="lazy" width="149" alt="" class="image-3"><img src="~/FrontEndAssets/images/Group-9769.svg" loading="lazy" width="115" alt="" class="image-3 is-small"><img src="~/FrontEndAssets/images/Group-9757.svg" loading="lazy" width="167" alt="" class="image-3"><img src="~/FrontEndAssets/images/Group-9759.svg" loading="lazy" width="167" alt="" class="image-3"><img src="~/FrontEndAssets/images/full_white.svg" loading="lazy" width="167" alt="" class="image-3"><img src="~/FrontEndAssets/images/Path-11119.svg" loading="lazy" width="167" alt="" class="image-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="left-arrow w-slider-arrow-left">
                            <div class="w-icon-slider-left"></div>
                        </div>
                        <div class="right-arrow w-slider-arrow-right">
                            <div class="w-icon-slider-right"></div>
                        </div>
                        <div class="slide-nav w-slider-nav w-round"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c__section c__margin">
        <div class="c__container">
            <div class="c__content is--about">
                <div class="top">
                    <h3 class="h-24">Subtitle here</h3>
                    <h1 class="h-40">New arrivals</h1>
                </div>
                <div class="bottom">
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/chastity-cortijo-6TY-unsplash.svg" loading="lazy" alt="" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">The Quick, Brown Fox Jumps Over A Lazy Dog.</h1>
                            <p class="p-24">Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                            <ul role="list" class="list">
                                <li class="link-block">Read More</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/jared-rice-PibraWHb4h8-unsplash.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 31vw" srcset="~/FrontEndAssets/images/jared-rice-PibraWHb4h8-unsplash-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">The Quick, Brown Fox Jumps Over A Lazy Dog.</h1>
                            <p class="p-24">Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                            <ul role="list" class="list">
                                <li class="link-block">Read More</li>
                            </ul>
                        </div>
                    </div>
                    <div class="c__card">
                        <div class="c__card--img">
                            <img src="~/FrontEndAssets/images/bady-abbas-z6KUjY4asSY-unsplash1.png" loading="lazy" alt="" sizes="(max-width: 479px) 23vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 31vw" srcset="~/FrontEndAssets/images/bady-abbas-z6KUjY4asSY-unsplash1-p-500.png 500w" class="image-2">
                            <div class="div-block-11 w-clearfix"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="120" alt="" class="image-5"></div>
                        </div>
                        <div class="c__card--info">
                            <h1 class="h-30">The Quick, Brown Fox Jumps Over A Lazy Dog.</h1>
                            <p class="p-24">Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                            <ul role="list" class="list">
                                <li class="link-block">Read More</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="brands.html" class="view-more w-button">View More</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="c__section is--footer">
            <div class="c__container">
                <div class="c__flex">
                    <div class="social-media-footer">
                        <div class="socialmedia-links">
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-63.svg" loading="lazy" alt=""></a>
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-60.svg" loading="lazy" alt=""></a>
                            <a href="#" class="social-media w-inline-block"><img src="~/FrontEndAssets/images/Component-61.svg" loading="lazy" alt=""></a>
                            <a href="#" class="w-inline-block"><img src="~/FrontEndAssets/images/Component-62.svg" loading="lazy" alt=""></a>
                        </div>
                        <div class="w-form">
                            <form id="email-form" name="email-form" data-name="Email Form" class="form-2"><label for="Email-3" class="field-label">Subscribe</label><input type="email" class="text-field w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Enter Your Email" id="Email-2"><input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button w-button"></form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Our Products</div>
                        <a href="#products" class="link">Tiles &amp; Slabs</a>
                        <a href="#products" class="link">Signature Tiles</a>
                        <a href="#products" class="link">Countertops</a>
                        <a href="#products" class="link">Handmade</a>
                        <a href="#products" class="link">Mosaics</a>
                        <a href="#products" class="link">Roofing</a>
                        <a href="#products" class="link">Xterior</a>
                        <a href="#products" class="link">Sanitary Ware</a>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Our Brands</div>
                        <a href="brands.html" class="link">Stroham</a>
                        <a href="brands.html" class="link">Turati</a>
                        <a href="brands.html" class="link">Deco vita</a>
                        <a href="brands.html" class="link">Luna Tiles</a>
                        <a href="brands.html" class="link">Lafenice</a>
                        <a href="brands.html" class="link">Squamers</a>
                        <a href="#" class="link">Terratinta</a>
                        <a href="brands.html" class="link">Mariner</a>
                    </div>
                    <div class="footer-links">
                        <div class="link-title">Company</div>
                        <a href="about.html" class="link">About Us</a>
                        <a href="contactus.html" class="link">Contact Us</a>
                        <a href="#products" class="link">Projects</a>
                        <a href="gallery.html" class="link">Gallery</a>
                        <a href="#" class="link">Blog</a>
                    </div>
                    <div class="footer-desc">
                        <div class="div-block-24">
                            <a href="#" class="logo w-inline-block"><img src="~/FrontEndAssets/images/English---Dark.svg" loading="lazy" width="161" alt="" class="image-9"></a>
                            <a href="#home" class="link-block-2 w-inline-block"><img src="~/FrontEndAssets/images/Group-10811.svg" loading="lazy" alt=""></a>
                        </div>
                        <p class="footer-logo-desc">7 A St - Al Quoz - Dubai - United Arab Emirates Al Shafar Investment Building - Al Shafar Investment Building - Sheikh Zayed Rd - Dubai - United Arab Emirates</p>
                        <div class="contact-info-footer">
                            <img src="~/FrontEndAssets/images/Path-63.svg" loading="lazy" alt="">
                            <div class="text-block-3">info@tileo.ae</div>
                        </div>
                        <div class="contact-info-footer">
                            <img src="~/FrontEndAssets/images/Group-37.svg" loading="lazy" alt="">
                            <div class="text-block-3">+971 50 587 1070</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright-text">Copyright © 2020. All rights reserved.</div>
        </div>
    </div>
</div>
<div class="navigator">
    <div class="nav__content-top">
        <div class="top__left">
            <div class="left-content">
                <img src="~/FrontEndAssets/images/Group-9734.svg" loading="lazy" width="15" alt="">
                <div class="text-block">+971 50 587 1070</div>
            </div>
            <div class="left-content">
                <img src="~/FrontEndAssets/images/Path-11203.svg" loading="lazy" width="15" alt="">
                <div class="text-block">info@tileo.ae</div>
            </div>
        </div>
        <div class="top__right">
            <div class="social"><img src="~/FrontEndAssets/images/Component-63.svg" loading="lazy" width="17" alt="" class="img"><img src="~/FrontEndAssets/images/Component-60.svg" loading="lazy" width="17" alt="" class="img"><img src="~/FrontEndAssets/images/Component-61.svg" loading="lazy" width="17" alt="" class="img"><img src="~/FrontEndAssets/images/Component-62.svg" loading="lazy" width="10" alt="" class="img"></div>
            <div class="div-block-23">
                <div data-hover="false" data-delay="0" class="w-dropdown">
                    <div class="dropdown-toggle w-dropdown-toggle"><img src="~/FrontEndAssets/images/UNITED-KINGDOM.svg" loading="lazy" width="25" alt=""><img src="~/FrontEndAssets/images/filled-chevron-down-XS-quite.svg" loading="lazy" width="11" alt="" class="image-10"></div>
                    <nav class="w-dropdown-list">
                        <a href="#" class="w-dropdown-link">Link 1</a>
                        <a href="#" class="w-dropdown-link">Link 2</a>
                        <a href="#" class="w-dropdown-link">Link 3</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="nav__container">
            <div class="nav__content">
                <div class="nav__content-buttom">
                    <a href="#" class="w-inline-block"><img src="~/FrontEndAssets/images/English---Dark.svg" loading="lazy" width="180" alt="" class="image-14"></a>
                    <div class="menu">
                        <div class="nav_block now">
                            <a href="index.html" aria-current="page" class="nav__link w--current">Home</a>
                        </div>
                        <div data-w-id="150a0e37-1aac-b0de-2786-7da60a35b48a" class="nav_block">
                            <a href="#products" data-w-id="150a0e37-1aac-b0de-2786-7da60a35b48b" class="nav__link">Products</a>
                        </div>
                        <div class="nav_block">
                            <a href="brands.html" class="nav__link">Brands &amp; catalog</a>
                        </div>
                        <div class="nav_block">
                            <a href="about.html" class="nav__link">About US</a>
                        </div>
                        <div class="nav_block">
                            <a href="gallery.html" class="nav__link">Gallery</a>
                        </div>
                        <div class="nav_block">
                            <a href="contactus.html" class="nav__link">Contact us</a>
                        </div><img src="~/FrontEndAssets/images/search-icon.svg" loading="lazy" width="16" alt="">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("myslides");
        var dots = document.getElementsByClassName("dot-click");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
