
@{ Layout = "~/Views/Shared/_LayoutFront.cshtml"; }

<div class="div-block-95">
    <div class="div-block-96">
        <div class="div-block-122">
            <h1 class="heading-17">OpenJet</h1>
            <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
                <div class="tabs-menu w-tab-menu">
                    <a data-w-tab="Tab 1" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
                        <div class="text-block-16">Eligibility for payers</div>
                    </a>
                    <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
                        <div class="text-block-16">Eligibility for buyers</div>
                    </a>
                    <a data-w-tab="Tab 3" class="tab-link-tab-2 w-inline-block w-tab-link">
                        <div class="text-block-16">Eligibility for pharmacies</div>
                    </a>
                </div>
                <div class="w-tab-content">
                    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                        <p class="paragraph-12"><em>We aim to support payers with member engagements, administrative efficiency, and payment accuracy.<br><br>‍</em>OPENJet fulfils the needs of the payers by having a stable and a reliable platform where they can perform system health checks through the eligibility check monitor and manage provider requests for prior authorizations. This helps optimize transactions, prevent fraud and abuse through analytics and dashboards, thus causing a substantial reduction in costs.</p>
                    </div>
                    <div data-w-tab="Tab 2" class="w-tab-pane">
                        <p class="paragraph-12"><em>We offer hospitals, medical centres, and clinics top notch tools for eligibility check and prior medical authorization requests in addition to prescription requests.<br><br>‍</em>OPENJet is customized for every need to guarantee appropriate compensation by payers and patients for the medical services rendered. Therefore, world class tools that facilitate real-time verification of patient eligibility are developed where registered users can perform eligibility checks for patients based on their Emirates-ID or Insurance Card number. Additionally, provider registered users can keep a track of the eligibility requests and manage the accounts of their related users and clinicians with ease.<br><br>Moreover, an advanced service is available that enables users to submit prior medical authorization requests, corrections or complaints for medical services related to inpatient, outpatient, dental, day-care, and any other service that requires prior authorizations. This in turn simplifies the complex insurance rules related to patients’ benefits coverage.</p>
                    </div>
                    <div data-w-tab="Tab 3" class="w-tab-pane">
                        <p class="paragraph-12"><em>We help pharmacies simplify approval requests, reduce the waiting time for patients, and maximize productivity and efficiency.<br><br>‍</em>OPENJet is a pharmacy-friendly solution, evolving with the pace of technology and the ever-increasing complex regulatory environments for pharmacies to operate within their existing workflow, simplifying it and improving its efficiency by enabling the submission of approval requests for prescribed medicines. The flexible tools available in OPENJet offer the ability to correct any submitted requests if needed or cancel them if they are not yet claimed to ensure efficiency and the maximum amount of productivity. Furthermore, the history for all approval requests can be checked.<br><br>Pharmacy users can be registered online, where the assigned admin users can manage and track other providers’ requests and users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-block-97"></div>
</div>
<div class="div-block-99">
    <h1 class="heading-18">Benefits</h1>
    <div class="div-block-100 db100b">
        <div class="div-block-101 db101">
            <img src="/FrontEndAssets/images/Asset-32x.png" loading="lazy" alt="" class="image-8">
            <div class="text-block-11">High speed registration through IDs</div>
        </div>
        <div class="div-block-101">
            <img src="/FrontEndAssets/images/Asset-42x.png" loading="lazy" alt="" class="image-8">
            <div class="text-block-11">Consistent interpretations of Eligibility response</div>
        </div>
        <div class="div-block-101 db101">
            <img src="/FrontEndAssets/images/Asset-92x.png" loading="lazy" alt="" class="image-8">
            <div class="text-block-11">Fewer denials &amp; rejected claims</div>
        </div>
        <div class="div-block-101">
            <img src="/FrontEndAssets/images/Asset-62x.png" loading="lazy" alt="" class="image-8">
            <div class="text-block-11">Higher clean claim rate &amp;RCM</div>
        </div>
        <div class="div-block-101 db101">
            <img src="/FrontEndAssets/images/Asset-82x.png" loading="lazy" alt="" class="image-8">
            <div class="text-block-11">Enhanced Patient Journe</div>
        </div>
        <div class="div-block-101">
            <img src="/FrontEndAssets/images/Asset-72x.png" loading="lazy" alt="" class="image-8">
            <div class="text-block-11">Eciency &amp; productivityreducing admin &amp; operationcost</div>
        </div>
    </div>
</div>
<div class="div-block-102">
    <div class="div-block-103">
        <a href="#" class="link-block-2 w-inline-block">
            <h1 class="heading-19">Download PDF</h1>
        </a>
    </div>
    <div class="div-block-104"></div>
</div>
<div class="div-block-99">
    <h1 class="heading-18-copy">Features</h1>
    <div class="div-block-108">
        <div class="div-block-109">
            <div class="text-block-13">Real-time verification</div>
            <div class="text-block-13">Medical insurance coverage and SOBs</div>
            <div class="text-block-13">API Integrate capability with all EMRs &amp; HISs</div>
            <div class="text-block-13">Copay, deductibles, &amp; Preauthorization included</div>
            <div class="text-block-13">Add on solutions like inHealth Messenger, Claim Dashboard Tracker, eAuth, etc.</div>
            <div class="text-block-13">Benefits mapping to the EMR, HIS, etc.</div>
            <div class="text-block-13">Threshold alerts</div>
        </div>
        <div class="fimage"></div>
    </div>
</div>
<div class="div-block-106">
    <div class="div-block-107"></div>
    <div class="div-block-96">
        <h1 class="heading-17-copy">Specialties</h1>
        <p class="paragraph-12">Openjet tailors real-time fully automated patient insurance eligibility and benefit verification processes based on customized triggers.<br><br>Specialty specific verification with full parsing of key benefits data such as Copays, deductibles, Schedule of Benefits, Top-ups, etc. Focused on easy and direct API integration with customized endpoints in an enhanced response and combined expertise in coding and mapping.<br><br>Eliminate the manual data entry process and it’s related typing errors. Complete transformation solution to an e-Platform. Supports an insurance cordless environment using eID documents assuring higher data accuracy, reduce claims denials and increase revenue.</p>
    </div>
</div>
<div class="div-block-106 db106l">
    <div class="div-block-121">
        <div class="div-block-96 db96">
            <h1 class="heading-17-copy">Eligibility for payers</h1>
            <p class="paragraph-12">Openjet tailors real-time fully automated patient insurance eligibility and benefit verification processes based on customized triggers.<br><br>Specialty specific verification with full parsing of key benefits data such as Copays, deductibles, Schedule of Benefits, Top-ups, etc. Focused on easy and direct API integration with customized endpoints in an enhanced response and combined expertise in coding and mapping.<br><br>Eliminate the manual data entry process and it’s related typing errors. Complete transformation solution to an e-Platform. Supports an insurance cordless environment using eID documents assuring higher data accuracy, reduce claims denials and increase revenue.</p>
        </div>
        <div class="div-block-110">
            <div class="div-block-111"></div>
        </div>
    </div>
</div>
<div class="div-block-112">
    <div class="div-block-113">
        <h1 class="heading-20">Eligibility for buyers</h1>
        <div class="div-block-114"></div>
        <p class="paragraph-13">Openjet tailors real-time fully automated patient insurance eligibility and benefit verification processes based on customized triggers.<br><br>Specialty specific verification with full parsing of key benefits data such as Copays, deductibles, Schedule of Benefits, Top-ups, etc. Focused on easy and direct API integration with customized endpoints in an enhanced response and combined expertise in coding and mapping.<br><br>Eliminate the manual data entry process and it’s related typing errors. Complete transformation solution to an e-Platform. Supports an insurance cordless environment using eID documents assuring higher data accuracy, reduce claims denials and increase revenue.</p>
    </div>
</div>
<div class="div-block-106 db106l-copy">
    <div class="div-block-121">
        <div class="div-block-110">
            <div class="div-block-111"></div>
        </div>
        <div class="div-block-96 db96-copy">
            <h1 class="heading-17-copy">Eligibility for pharmacies</h1>
            <p class="paragraph-12">Openjet tailors real-time fully automated patient insurance eligibility and benefit verification processes based on customized triggers.<br><br>Specialty specific verification with full parsing of key benefits data such as Copays, deductibles, Schedule of Benefits, Top-ups, etc. Focused on easy and direct API integration with customized endpoints in an enhanced response and combined expertise in coding and mapping.<br><br>Eliminate the manual data entry process and it’s related typing errors. Complete transformation solution to an e-Platform. Supports an insurance cordless environment using eID documents assuring higher data accuracy, reduce claims denials and increase revenue.</p>
        </div>
    </div>
</div>